.Badge {
    background: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.10);
    border-radius: 8px 8px 8px 8px;
    overflow: hidden;
    height: 380px;
  }
  
  .Badge__header {
    padding: 0.5rem 0;
    height: 80px;
    background: #1B1B25;
    display: flex;
    justify-content: center;
  }
  
  .Badge__section-name {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
  }
  
  .Badge__section-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
    background: #F4F4F7;
  }
  
  
  .Badge__avatar {
    border-radius: 50%;
    margin-right: 1rem;
    width: 120px;
    height: 120px;
  }
  
  .Badge__footer {
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #98CA3F;
    font-weight: bold;
    font-style: italic;
  }
  .Badges__item-container {
    width: 90%;
    height: 90px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.10);
    background-color: white;
    border-bottom-width: 1;
    border-radius: 1%;
    border: 0%;
    max-width: 580px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
 
  .Badges__item-avatar {
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 10px;
    width: 70px;
    height: 70px;
  }

  .Badges__item-name-text{
    height: 20px;
    font-weight: bold;
  }

  .Badges__item-twitter-text{
    height: 15px;
    color: #00ACEE;
    margin-left: 3px;
  }

  .Badges__item-jobTitle-text{
    height: 1px;
  }

  .Badges__item-twitter-icon{
    height: 15px;
    width: 15px;
  }

  .colorRed{
    background-color: red;
    width: 50%;
    height: 100%;
  }

  .colorBlue{
    background-color: blue;
    width: 50%;
    height: 100%;
  }

  .margin-top{
    margin-top: 10px;
  }

  .margin-left{
    margin-left: 15px;
  }